@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Corps. */
body {
	/* Marge au contour. */
	margin: 20px;

	/* Texte blanc. */
	color: #FFFFFF;

	/* Police d'écriture. */
	font-family: 'Montserrat', 'sans-serif';

	/* Fond bleu. */
	background-color: #2980b9;
}

/* En-tête et sections. */
header,
section {
	/* Remplissage au coutour. */
	padding: 20px;

	/* Marge en dessous. */
	margin-bottom: 20px;

	/* Fond bleu clair. */
	background-color: #3498db;
}

/* Titre de l'en-tête. */
header h1 {
	/* Marge nulle en haut (pour corriger l'affichage). */
	margin-top: 0;
}

/* Titre des sections. */
section h2 {
	/* Marge nulle en haut (pour corriger l'affichage). */
	margin-top: 0;
}

/**************************/
/*          MENU.         */
/**************************/

/* Pseudo-élément après le menu. */
nav.menu:after {
	/* Désactiver l'affichage flottant. */
	clear: both;

	/* Ajout d'un contenu (pour pouvoir appliquer une marge). */
	content: '';

	/* Affichage en block (pour retourner à la ligne). */
	display: block;

	/* Marge en dessous. */
	margin-bottom: 2cm;
}

/* Liste du menu. */
nav.menu > ul {
	/* Largeur de la liste. */
	width: 570px;

	/* Marges automatiques (pour centrer le menu). */
	margin: 0 auto;

	/* Remplissage nul (pour corriger l'affichage). */
	padding: 0;

	/* Désactiver l'affichage des points. */
	list-style-type: none;
}

/* Eléments de la liste du menu. */
nav.menu li {
	/* Affichage flottant à gauche. */
	float: left;

	/* Contour solide. */
	/*border: 1px solid black;*/
}

/* Liens des éléments de la liste du menu. */
nav.menu li a {
	/* Largeur du lien. */
	width: 150px;

	/* Affichage en block (pour un menu horizontal). */
	display: block;

	/* Remplissage. */
	padding: 20px;

	/* Alignement du texte au centre. */
	text-align: center;

	/* Désactiver le soulignage du texte. */
	text-decoration: none;

	/* Texte blanc; */
	color: #ffffff;

	/* Fond rouge clair. */
	background-color: #e74c3c;
}

/* Liens survolés des éléments de la liste du menu. */
nav.menu li a:hover {
	/* Fond rouge foncé. */
	background-color: #c0392b;
}
