@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Corps. */
body {
	/* Marge au contour. */
	margin: 20px;

	/* Texte blanc. */
	color: #FFFFFF;

	/* Police d'écriture. */
	font-family: 'Montserrat', 'sans-serif';

	/* Fond bleu. */
	background-color: #2980b9;
}

/* En-tête et sections. */
header,
section {
	/* Remplissage au coutour. */
	padding: 20px;

	/* Marge en dessous. */
	margin-bottom: 20px;

	/* Fond bleu clair. */
	background-color: #3498db;
}

/* Titre de l'en-tête. */
header h1 {
	/* Marge nulle en haut (pour corriger l'affichage). */
	margin-top: 0;
}

/* Titre des sections. */
section h2 {
	/* Marge nulle en haut (pour corriger l'affichage). */
	margin-top: 0;
}

/**************************/
/*        ELEMENTS.       */
/**************************/

/* Eléments. */
div.inline,
div.inline-inside,
div.block,
div.block-inside,
div.inline-block,
div.inline-block-inside {
	/* Largeur. */
	width : 20%;

	/* Remplissage au contour. */
	padding: 1em;
	/* Contour solide. */
	border: solid 2px black;
}

/**************************/
/*         INLINE.        */
/**************************/

/* Section des éléments inline. */
section.inline {
	/* Marge en dessous (pour corriger l'affichage). */
	padding-bottom: 40px;
}

/* Dernier paragraphe de la section des éléments inline. */
section.inline p:last-of-type {
	/* Marge en dessous (pour corriger l'affichage). */
	margin-bottom: 50px;
}

/* Eléments inline. */
div.inline {
	/* Affichage inline. */
	display: inline;

	/* Marge à droite. */
	margin-right: 20px;

	/* Fond rouge. */
	background-color: #e74c3c;
}

/**************************/
/*          BLOCK.        */
/**************************/

/* Eléments block. */
div.block {
	/* Affichage block. */
	display: block;

	/* Marge en dessous (pour corriger l'affichage). */
	margin-bottom: 20px;

	/* Fond vert. */
	background-color: #f1c40f;
}

/**************************/
/*      INLINE-BLOCK.     */
/**************************/

/* Eléments inline-block. */
div.inline-block {
	/* Affichage inline-block. */
	display: inline-block;

	/* Marge en dessous nulle (pour corriger l'affichage). */
	margin-top: 0;

	/* Marge à droite. */
	margin-right: 15px;

	/* Couleur violet. */
	background-color: #9b59b6;
}
